.body{
    background-color: rgb(31, 31, 102);
}

.hello{
    font-size: 50px;
    display: flex;
    color: rgb(227, 98, 34);
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    margin-top: 100px;
    padding-top: 100px;
}
.it{
    color: rgb(0, 255, 242);
    animation: it 3s linear infinite;
}

@keyframes it {
    10% {color: rgb(255, 0, 255) };
    60% {color: rgb(255, 0, 0)};
    90% {color: rgb(241, 241, 241) };
}
.socialMedia {
    display: flex;
    margin-left: 50px;
    gap: 15px
}
.picture{
    height: 100px;
    width: 100px;
}