.body {
  background-color: rgb(31, 31, 102);
  /* background-size: cover;
    background-position: center;
    
    
    height: 100vh;
    padding:0;
    margin:0; */
}
/*Website*/
.hello {
  font-size: 50px;
  display: flex;
  color: rgb(227, 98, 34);
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  margin-top: 100px;
  padding-top: 100px;
}
.it {
  color: rgb(0, 255, 242);
  animation: it 3s linear infinite;
}
.socialMedia {
  display: flex;
  margin-left: 50px;
  gap: 15px;
}
.picture {
  display: flex;
  height: 350px;
  width: 350px;
  border-radius: 30%;
  object-fit: cover;
  background: url(pictures/wurms.gif);
}
.container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.link {
  color: rgb(227, 98, 34);
  text-decoration: none;
}

.link:hover {
  color: rgb(0, 255, 242);
}

/*about*/

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;
}

.about-content {
  color: rgb(227, 98, 34);
  display: grid;
  gap: 20px;
  max-width: 1000px;
  padding: 20px;
}
.about-content h1 {
  color: rgb(255, 85, 0);
  text-align: center;
  margin-top: 50px;
  animation: glow 3s linear infinite;
}
.IT-pic img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ff6347;
  height: 250px;
  width: 250px;
}
.aboutMeText1 {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: large;
}
.aboutMeText2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  gap: 50px;
}
.aboutMeText3 {
  text-align: center;
  font-size: large;
}

/* Project */

.project-header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  color: rgb(255, 85, 0);
  text-align: center;
  animation: glow 3s linear infinite;
  margin-bottom: 100px;
}
.project-container {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10%;
  background: url(pictures/wurms.gif);
  background-size: cover;
}
.project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  gap: 10px;
  flex-direction: column;
}
.website {
  color: rgb(227, 98, 34);
  text-decoration: none;
  width: 100px;
}

/* Contact */
.contact-text {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  color: rgb(255, 85, 0);
  text-align: center;
  animation: glow 3s linear infinite;
}
.contact {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-form {
  background: url(pictures/wurms.gif);
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(148, 35, 35, 0.1);
  width: 500px;
}
.contact-form h2 {
  text-align: center;
  color: white;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: #333;
  color: white;
}
.contact-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(227, 98, 34);
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.contact-form button:hover {
  background: #b35600;
}
/* Animations */

@keyframes it {
  10% {
    color: rgb(255, 0, 255);
  }
  60% {
    color: rgb(255, 0, 0);
  }
  90% {
    color: rgb(241, 241, 241);
  }
}
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 1px #fff, 0 0 5px #0051ff, 0 0 10px #ffd900;
  }
  50% {
    text-shadow: 0 0 1px #fff, 0 0 2px #ffa600, 0 0 3px #0051ff,
      0 0 10px #ffd900;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 1px #fff, 0 0 5px #0051ff, 0 0 10px #ffd900;
  }
}
