
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #323030;
  padding: 10px 20px;
  z-index: 1000;
  display: none;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: all 0.5s ease;
}

.navbar.visible {
  display: flex;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  animation: fadeInDown 0.5s ease forwards;
}

.navbar.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  animation: fadeOutUp 0.5s ease forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.navbar .logo img {
  height: 50px;
  margin-bottom: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #adebc7;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffffff;
}