div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 150px;
  background-color: rgb(7, 7, 7);
  border-radius: 10px;
  width: 100px;
  height: 100px;

}
.light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(124, 121, 121);
    margin: 2px;
    opacity: 0.3;
  }
  @keyframes trafficLightCycle {
    0% { background-color: red; opacity: 2; }         
    20% { background-color: gray; opacity: 0.3; }     
    40% { background-color: yellow; opacity: 1; }      
    60% { background-color: green; opacity: 1; }      
    70% { background-color: green; opacity: 0.3; }    
    74% { background-color: green; opacity: 1; }      
    79% { background-color: green; opacity: 0.3; }    
    80% { background-color: yellow; opacity: 1; }     
    100% { background-color: gray; opacity: 0.3; }    
  }
  
  .light.red {
    animation: trafficLightCycle 10s infinite;
  }

 