div {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 100px;
    background-color: red;
    animation: example 10s 2;
    border: 10px grey solid;
    border-radius: 50%;
    
}

@keyframes example {
    0% {background-color: red; left: 0px; top: 0px;}
    20% {background-color: yellow; left: 0px; top: 0px}
    40% {background-color: green; left: 0px; top: 0px}
    45% {background-color: black; left: 0px; top: 0px}
    50% {background-color: green; left: 0px; top: 0px}
    55% {background-color: black; left: 0px; top: 0px}
    60% {background-color: green; left: 0px; top: 0px}
    80% {background-color: yellow; left: 0px; top: 0px}
    100% {background-color: red; left: 0px; top: 0px}

}
