*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

h1{
    color: lightseagreen;
    display: flex;
    justify-content: center;
    padding: 70px;
    font-size: 90px;
}
.container{
    display: flex;
    justify-content: center;
    font-size:large;
    gap: 20px;   
    align-items: center;
    height: 40vh;
    
     
}
.Card1{
    background:linear-gradient(#000,#222,#1111);
    border: 2px red solid;
    border-radius: 20%;
    padding: 100px 100px;
    color:white;
    cursor: pointer;
   
}
.Card2{
    background:linear-gradient(#000,#222,#1111);
    border: 2px red solid;
    border-radius: 20%;
    padding: 100px 100px;
    color: white;
    cursor: pointer;
}
.Card3{
    background:linear-gradient(#000,#222,#1111);
    border: 2px red solid ;
    border-radius: 20%;
    padding: 100px 100px;
    color: white;
    cursor: pointer;

}
a{
    text-decoration: none;
    font-size: 30px;

}

a:hover{
    color: aqua;
    text-shadow: 10 10 10 1;
}




