li{
    color: brown;

}
.html{
    color: black;
}
#s3{
    color: green;
}
:nth-child(4){
    color: blue;
}
li[aria-placeholder="5"]{
    color: black;
}
*{
    font-size:larger;
    text-align: left;
    font-weight: bold;
    text-shadow: 5px 5px 5px;
}
body{
    background-color: rgba(9, 139, 245, 0.938);
}
h1{
    
}