body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* hier noch nicht vollständig */

    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

    /* hier noch nicht vollständig */
img{
    border-radius: 10px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
img{
    width: 200px;
    height: 200px;
}
img[alt~="bild 1"]{
    display: grid
}
