div {
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 50px;
    background-color: green;
}
#translate:hover {
        transform: translate(100px, 200px);
        transition-duration: 1s;
    
}
#route:hover {
    transform: rotate(45deg);
    transition-duration: 1s;
}
#scale:hover {
    transform: scale(2,2);
}
#Skew:hover {
    transform:skew(20deg, 30deg);
}