body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* hier noch nicht vollständig */
}
/* hier noch nicht vollständig */
div{
    background-color: white;
    width: 350px;
    border-radius: 5%;
    border: 1px arial black;
    box-shadow: 5px 5px rgb(234, 229, 229);
}
h1{
    color: rgb(69, 61, 61);
}
p{
    color: grey;
}