

h1{
    text-align: center;
}
p {
    text-align: center;
    color: blue;
    font-weight: bold;
  }
  
  img {
    width: 200px;
    height: 200px;
  
  }
  div button{
    margin-top: 15px;
  }
  