body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  /* hier noch nicht vollständig */
}
.login-container {
  padding: 40px;
  border-radius: 5%;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  border: 1px solid #131111;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 550;
  font-size: 50px;
  
}

.login-container input[type="text"],
.login-container input[type="password"] {   
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #8f8282;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 15px;
  background-color: #0aa0f7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  
}
.login-container  {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    margin-top: 15px;
    color: #333;
  }

/* hier noch nicht vollständig */
