h1 {color: rgb(122, 43, 226); text-align: center;}
body{font-family: Arial, Helvetica, sans-serif;}
.e-mail{color: darkblue;}
textarea{color: darkmagenta;}
p{color: brown;}
.highlight{color: blueviolet;}
.highlight1{color: rgb(139, 95, 0);}














