body {

    margin: 0;
    font-family: Arial, sans serif;
    }
    li {
    list-style: none;
        }
    .headliner {
       background-color: white;
       padding: 10px;
        
    }
    .headline-list {
    
        display: flex;
        height: 40px;
        gap: 20px;
        list-style: none;
        justify-content: center;
        align-items: center;
    }
    a {
        font-weight: 800;
        text-decoration: none;
        color: black;
    }
    .head-item {
        padding: 15px 20px;
        background-color: rgba(247, 247, 247, 0.345);
        border-radius: 4px;
        
    }

    .head-item.logo{
        background-color: inherit;
        margin-top: 20px;
    }

    .firstPic {
        padding: 40px 500px ;
    }

   
      