body {

    margin: 0;
    font-family: Arial, sans serif;
    }
    li {
    list-style: none;
        }
    .headliner {
       background-color: white;
       padding: 10px;
        
    }
    .headline-list {
    
        display: flex;
        gap: 20px;
        list-style: none;
        justify-content: center;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .head-item {
       
        padding: 15px 20px;
        background-color: rgb(252, 250, 250);
        border-radius: 4px;
        
    }

      