p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: blue;

}
img{
    display: flex;
    width: 200px;
    height: 200px;

}
h1{
    display: flex;
    justify-content: center;
}