body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
}

div {
    width: 100px;
    height: 100px;
    background-color: green;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;

} .translate:hover {
    transform: translate(100px, 200px);
    transition: 1s;

} .rotate:hover {
    transform: rotate(60deg);
    transition: 1s;

} .scale:hover {
    transform: scale(2,3);
    transition: 1s;

} .skew:hover {
    transform: skew(50deg, 10deg);
    transition: 1s;
}