body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    height: 100vh;

}
div {
    display: flex;
    height: 100px;
    width: 100px;
    background-color: green;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;

}
.rotatex:hover {
    background-color: blue;
    transform: rotateX(40deg);

}
.rotatey:hover {
    background-color: blue;
    transform: rotateY(50deg);

}
.rotatez:hover {
    background-color: blue;
    transform: rotateZ(50deg);

}