div {
    width: 100px;
    height: 100px;
    background-color: green;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 30px;
    
    
    

} .translate:hover {
    transform: translate(150px, 200px);
    transition: 1s;
} .rotate:hover {
    transform: rotate(60deg);
    transition: 1s;
} .scale:hover {
    transform: scale(2,3);
    transition: 0.5s;
} .skew:hover {
    transform: skew(50deg, 10deg);
    transition: 1s;
}